page-my-profile {
	ion-item {
		img {
			float: left;
			width: 30px; 
			height: 30px;
		}
		margin-bottom: 10px;
	}
	ion-card {
		img {
			float: left;
			margin-right: 10px;
		}
	}
	ion-list {

	}
}
